/node_modules
node_modules
/dist
.umi
.umi-production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.uploadrc
.DS_Store

www/*.js
www/*.css
www/*/**

.idea/
.gradle/

/packages/**/lib
/packages/**/esm
/packages/**/dist
packages/renderer-mobile/lib
packages/renderer-mobile/esm
