.root {
  padding: 0 9px;
  .actions {
    padding-top: 40px;
    .signUp {
      width: 100%;
      height: 40px;
      background-color: #61dafb;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
    }
  }
  :global {
    .ant-form-item-with-help .ant-form-item-explain {
      margin-left: 11px;
    }
  }
}
